<br> 
<div class="container">
  <h1 class="text-center">Lista de Categorías</h1>
  
<br>
  <div><%= link_to 'Agregar Categorías', new_category_path, class: "container btn btn-primary" %></div>
 <br> 
   <table class="table">
    <thead class="table-dark">
      <tr>
        <th class="text-center" scope="col">Nombre de Categoría</th>
        <th class="text-center" scope="col">Acciones</th>
      </tr>
    </thead>
    <% @categories.each do |cat| %>
    <tbody>
    
      
        <td class="text-center"><%= cat.name %></td>   
        <td class="text-center"> 
         <div class="btn-group" role="group" aria-label="Basic mixed styles example">          
          <button type="button" class="btn btn-danger">  <%= link_to 'Eliminar', category_path(cat), method: :delete, class: "link-light" %>     </button>
        </td>
       </div>
      

    </tbody>
    <%end%>
  </table>
</div>